# Configuration MongoDB Atlas
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority
MONGODB_DB_NAME=fckngmoney
MONGODB_COLLECTION_NAME=users

# Configuration de l'application
PORT=3000
NODE_ENV=production 